<header>
  <p class="at-logotext"><a href="https://learn.astropy.org">
    <span class="at-logotext__primary">Learn.Astropy</span>
    <span class="at-logotext__divider">/</span>
    <span class="at-logotext__secondary">Tutorials</span>
  </a></p>
  <nav class="at-header-nav">
    <a href="https://mybinder.org/v2/gh/astropy/astropy-tutorials/main?labpath=tutorials%2Fcolor-excess%2Fcolor-excess.ipynb">Open in Binder</a>
    <a href="https://learn.astropy.org/tutorials/color-excess.ipynb" download>Download notebook</a>
  </nav>
</header>
